# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always be normalized and converted
*.js text
*.mjs text
*.cjs text
*.ts text
*.mts text
*.cts text
*.tsx text
*.jsx text
*.json text
*.md text
*.yml text
*.yaml text
*.http text

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.exe binary
*.http text eol=lf
tsconfig.*.json text eol=lf
